@model IEnumerable<ForceTestingService.ApplicationCore.Models.StudentTest>

<h1>List of all available tests</h1>

<p>
    <a asp-action="Index">Go Back</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfSeconds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfTriesLeft)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr @Html.Raw(!item.IsPassed?"":"class='bg-success'")>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfTriesLeft)
            </td>
            <td>
                <a asp-action="ViewTestResults" asp-route-testbaseid="@item.TestBaseId">View Test Results</a> |
                @if (item.NumOfTriesLeft > 0)
                {
                    <a asp-action="PassTest" asp-route-testbaseid="@item.TestBaseId">Pass Test</a> 
                }
                else
                {
                    <a style="pointer-events: none; cursor: default; background-color: lightcoral">Pass Test</a> 
                }

            </td>
        </tr>
    }
    </tbody>
</table>